tsconfig.json
tslint.json
src/
__test__/
jest.config.js
typings.d.ts
examples/
tests/
bin/
*.log
.docker-manifestrc
.editorconfig
.gitlab-ci.yml
.nvmrc
.prettierrc
.travis.yml
release.config.json
.lintstagedrc
.huskyrc
